function Constants.boardHeight 0
push constant 256
return
function Constants.boardWidth 0
push constant 512
return
function Constants.escKey 0
push constant 140
return
function Constants.gapBetweenPlatforms 0
push constant 55
return
